.App-logo {
  position: absolute;
  z-index: 4;
  animation: spin infinite 20s linear;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  left: 33%;
}

.App-header {
  position: absolute;
  z-index: 3;
  padding: 20px;
  top: 0px;
  left: 0px;
  height: 33%;
  width: 100%;
  text-align: center;
}

.App-center {
  position: absolute;
  z-index: 2;
  background-color: #b8a69a;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  top: 35%;
  left: 25%;
  text-align: center;
  font-size: small;
  font: Montserrat Bold;
}

.Backdrop {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.App-intro {
  font-size: large;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}
