.App-logo {
  animation: spin infinite 200s linear;
  height: 160px;
}

.App-header {
  background-color: #b8a69a;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-center {
  position: relative;
  z-index: 2;
}

.Backdrop {
  position: absolute;
  z-index: 1;
}

.App-intro {
  font-size: large;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
