.App-logo {
  position: absolute;
  z-index: 4;
  animation: spin infinite 200s linear;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
  top: 100px;
}

.App-header {
  position: absolute;
  z-index: 3;
  background-color: #b8a69a;
  padding: 20px;
  top: 0px;
  left: 0px;
  height: 33%;
  width: 100%;
  text-align: center;
}

.App-center {
  position: absolute;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  top: 60%;
}

.Backdrop {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  background-color: #b8a69a;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.App-intro {
  font-size: large;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
